#python
.env
# vscode
!.vscode/launch.json
!.vscode/tasks.json

# antlr
.antlr

# Prerequisites
*.d

# Compiled Object files
.cache
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.ll

# Executables
*.exe
*.out
*.app
